<form [formGroup]="form" novalidate autocomplete="off">
  <fieldset>
    <legend>Purchase the item you want</legend>
    <!-- ITEM NAME -->
    <div class="form-group">
      <label for="name">Item name</label>
      <input type="text" id="name" formControlName="name" />
      <div
        *ngIf="name.errors && (name.touched || name.dirty || submited)"
        class="form-group-errors"
      >
        <small *ngIf="name.errors.required">Required field</small>
      </div>
    </div>
    <!-- /ITEM NAME -->
    <!-- ITEM AMOUNT -->
    <div class="form-group">
      <label for="amount">Item amount (€)</label>
      <input type="number" id="amount" formControlName="amount" />
      <div
        *ngIf="amount.errors && (amount.touched || amount.dirty || submited)"
        class="form-group-errors"
      >
        <small *ngIf="amount.errors.required">Required field</small>
        <small *ngIf="amount.errors.min">Minimum value of 1</small>
      </div>
    </div>
    <!-- /ITEM AMOUNT -->
    <h4>Payment flow methods</h4>
    <!-- SUBMIT BTNS -->
    <div class="submit-btns">
      <!-- HOSTED RPP METHOD -->
      <div>
        <button type="submit" (click)="submittable() && hostedPay()">
          Pay with hosted payment page (RPP) method
        </button>
        <p>
          No frontend SDK needed.
          <a
            target="_blank"
            href="https://epayments.developer-ingenico.com/documentation/sdk/server/nodejs/#paymentwithrpp"
            >More info here</a
          >.
        </p>
      </div>
      <!-- /HOSTED RPP METHOD -->
      <!-- CLIENT SDK METHOD -->
      <div>
        <button type="submit" (click)="submittable() && getPaymentProductMethods()">
          Pay with client sdk session method
        </button>
        <p>
          Frontend SDK needed.
          <a
            target="_blank"
            href="https://epayments.developer-ingenico.com/documentation/sdk/server/nodejs/#paymentwithclientsdk"
            >More info here</a
          >.
        </p>
      </div>
      <!-- /CLIENT SDK METHOD -->
    </div>
    <!-- /SUBMIT BTNS -->
  </fieldset>
</form>
<div *ngIf="basicPaymentProducts?.length > 0" class="wrapper__payment-product">
  <hr>
  <h3>Basic Payment Products</h3>
  <div *ngFor="let product of basicPaymentProducts" class="payment-product">
    <div class="wrapper__logo">
      <img [src]="product.displayHints.logo">
    </div>
    <h5>{{ product.displayHints.label }}</h5>
    <div class="wrapper_btn--pay">
      <button type="button" (click)="clientSDKPay(product)">Pay</button>
    </div>
  </div>
</div>
